After some tweaking to the lambda api calls, plus based on the experiments I got from v1, now try v2 of analysis. There are many avenues to explore so I will try to stick to locations in this notebook. The inspiration for this part of the analysis is https://datascopeanalytics.com/blog/instagrams-blind-spot/

In [1]:
import numpy as np
import pandas as pd
import pymongo
from pymongo import MongoClient
client = MongoClient()

from pprint import pprint
from bson.son import SON
#for geo parsing
import json
from shapely.geometry import shape, Point
import geopandas as gpd
from shapely.ops import cascaded_union

In [2]:
import datetime
import time

In [3]:
#db setup-- the posts collection is the only one for stashing everything returned from that api endpoint
#note to self-- use mongoDatabase2
db = client['instagram-london']
coll = db.posts

In [4]:
#to illustrate what one of these entries llok like
coll.find_one({'timestamp': {'$gte': datetime.datetime(2016, 9, 5, 0,0,0)}})

{'_id': ObjectId('57f001722285b90b3dd1b8eb'),
 'attribution': None,
 'caption': {'created_time': '1473033605',
  'from': {'full_name': 'R.',
   'id': '2370818488',
   'profile_picture': 'https://scontent.cdninstagram.com/t51.2885-19/s150x150/14073180_1108854822516784_2100955802_a.jpg',
   'username': 'carrerasleon3'},
  'id': '17862635572053336',
  'text': 'Ya hace un tiempo que me siento bien que se que todo lo que pasa va a ponerme okeyyyyyyü§òüèºüòù'},
 'comments': {'count': 1},
 'created_time': '1473033605',
 'filter': 'Normal',
 'id': '1332224901537240172_2370818488',
 'images': {'low_resolution': {'height': 320,
   'url': 'https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/13687353_326294671047465_665291580_n.jpg?ig_cache_key=MTMzMjIyNDkwMTUzNzI0MDE3Mg%3D%3D.2.l',
   'width': 320},
  'standard_resolution': {'height': 640,
   'url': 'https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13687353_326294671047465_665291580_n.jpg?ig_cache_key=MTMzMjIyNDkwMTUzNzI0MDE3Mg%3D%3D.2.l',
   'width': 640},
  'thumbnail': {'height': 150,
   'url': 'https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c236.0.608.608/14240563_284531201929538_1758336952_n.jpg?ig_cache_key=MTMzMjIyNDkwMTUzNzI0MDE3Mg%3D%3D.2.c',
   'width': 150}},
 'likes': {'count': 109},
 'link': 'https://www.instagram.com/p/BJ9A31RDpRs/',
 'location': {'id': 228474295,
  'latitude': 51.390992716818,
  'longitude': -0.3183405110173,
  'name': 'Disneyland, Paris'},
 'tags': [],
 'timestamp': datetime.datetime(2016, 9, 5, 0, 0, 5),
 'type': 'image',
 'user': {'full_name': 'R.',
  'id': '2370818488',
  'profile_picture': 'https://scontent.cdninstagram.com/t51.2885-19/s150x150/14073180_1108854822516784_2100955802_a.jpg',
  'username': 'carrerasleon3'},
 'user_has_liked': False,
 'users_in_photo': []}

There are quite a few issues with the locations-- for quite a few locations I ahve found that the place have the wrong lat lngs assigned to them.

Some queries that are interesting:

Top tags: (in mongo shell, these are)

```var pipeline = [{$project: {_id: 0, tags: 1}}, {$unwind: "$tags"}, {$group: {_id: "$tags", count: {$sum: 1}}}, {$sort: {count: -1}}, {$limit: 20}]```

Top locations
```var pipeline=[{$group: {_id: {location: '$location'}, count: {$sum: 1}}}, {$sort: {count: -1}}, {$limit: 20}]```

Then run follwing for the aggregated output:

```db.posts.aggregate(pipeline, {allowDiskUse: true})```

In [4]:
#since I changed the range of the lat lngs returned from the lambda function, what I want is all the data after ~ 4th Sept 2016
rawInstagramPosts = coll.find({'timestamp': {'$gte': datetime.datetime(2016, 9, 5, 0,0,0)}})

In [5]:
uniqueLocationsCursor = db.posts.aggregate([
        {"$match": {'timestamp': {'$gte': datetime.datetime(2016, 9, 5, 0,0,0)}}},
        {"$project": {"_id" : 0, "location": 1}},
        {"$group": { "_id": {"location": "$location"}, 
                    "count": { "$sum": 1 }  }},
        {"$sort": {"count" : -1}}
    ]);

uniqueLocations = list(uniqueLocationsCursor)

In [6]:
print("total number of unique locations currently: {}".format(len(uniqueLocations)))

total number of unique locations currently: 79157

In [7]:
uniqueLocations[:10]

[{'_id': {'location': {'id': 213385402,
    'latitude': 51.507114863624,
    'longitude': -0.12731805236353,
    'name': 'London, United Kingdom'}},
  'count': 8524},
 {'_id': {'location': {'id': 230884974,
    'latitude': 51.690636395632,
    'longitude': -0.4187279223942,
    'name': 'Harry Potter Studio Tour at Warner Brothers Studios'}},
  'count': 5802},
 {'_id': {'location': {'id': 594107096,
    'latitude': 51.455329995651,
    'longitude': -0.15493754560226,
    'name': 'Santorini, Greece'}},
  'count': 3904},
 {'_id': {'location': {'id': 21911,
    'latitude': 51.556239704361,
    'longitude': -0.2796649891529,
    'name': 'Wembley Stadium'}},
  'count': 3475},
 {'_id': {'location': {'id': 230734647,
    'latitude': 51.4474504096,
    'longitude': -0.047657510158,
    'name': 'Mykonos, Greece'}},
  'count': 2968},
 {'_id': {'location': {'id': 898717517,
    'latitude': 51.471890719224,
    'longitude': -0.48701449052824,
    'name': 'London Heathrow British Airways Terminal 5'}},
  'count': 2967},
 {'_id': {'location': {'id': 88014,
    'latitude': 51.40406242714,
    'longitude': -0.33914758033938,
    'name': 'Hampton Court Palace'}},
  'count': 2825},
 {'_id': {'location': {'id': 213966560,
    'latitude': 51.504327619963,
    'longitude': -0.019761837107478,
    'name': 'London Canary Wharf'}},
  'count': 2731},
 {'_id': {'location': {'id': 213054664,
    'latitude': 51.4514663131,
    'longitude': -0.28173923492432,
    'name': 'Richmond Park'}},
  'count': 2706},
 {'_id': {'location': {'id': 261635,
    'latitude': 51.593992533264,
    'longitude': -0.13062546606293,
    'name': 'Alexandra Palace'}},
  'count': 2523}]

In [39]:
uniqueLocationsWithLatLng = [x for x in uniqueLocations if ('latitude'  in x['_id']['location'] and 'longitude' in x['_id']['location'])]

In [44]:
londonLocations = [{'name': x['_id']['location']['name'], 
                    'lat': x['_id']['location']['latitude'], 
                    'lng' :  x['_id']['location']['longitude'], 
                    'count': x['count'],
                    'id': x['_id']['location']['id']
                   } 
                   for x in uniqueLocationsWithLatLng]
londonLocations[:100]

[{'count': 7200,
  'id': 213385402,
  'lat': 51.507114863624,
  'lng': -0.12731805236353,
  'name': 'London, United Kingdom'},
 {'count': 4902,
  'id': 230884974,
  'lat': 51.690636395632,
  'lng': -0.4187279223942,
  'name': 'Harry Potter Studio Tour at Warner Brothers Studios'},
 {'count': 3903,
  'id': 594107096,
  'lat': 51.455329995651,
  'lng': -0.15493754560226,
  'name': 'Santorini, Greece'},
 {'count': 2968,
  'id': 230734647,
  'lat': 51.4474504096,
  'lng': -0.047657510158,
  'name': 'Mykonos, Greece'},
 {'count': 2771,
  'id': 21911,
  'lat': 51.556239704361,
  'lng': -0.2796649891529,
  'name': 'Wembley Stadium'},
 {'count': 2479,
  'id': 898717517,
  'lat': 51.471890719224,
  'lng': -0.48701449052824,
  'name': 'London Heathrow British Airways Terminal 5'},
 {'count': 2356,
  'id': 88014,
  'lat': 51.40406242714,
  'lng': -0.33914758033938,
  'name': 'Hampton Court Palace'},
 {'count': 2282,
  'id': 213966560,
  'lat': 51.504327619963,
  'lng': -0.019761837107478,
  'name': 'London Canary Wharf'},
 {'count': 2270,
  'id': 213054664,
  'lat': 51.4514663131,
  'lng': -0.28173923492432,
  'name': 'Richmond Park'},
 {'count': 2152,
  'id': 228474295,
  'lat': 51.390992716818,
  'lng': -0.3183405110173,
  'name': 'Disneyland, Paris'},
 {'count': 2039,
  'id': 261635,
  'lat': 51.593992533264,
  'lng': -0.13062546606293,
  'name': 'Alexandra Palace'},
 {'count': 1997,
  'id': 213543195,
  'lat': 51.471739053324,
  'lng': -0.48669206126068,
  'name': 'Heathrow Terminal 5'},
 {'count': 1989,
  'id': 215717774,
  'lat': 51.562149,
  'lng': 0.0064,
  'name': 'Victoria Park'},
 {'count': 1923,
  'id': 518090644,
  'lat': 51.351399783335,
  'lng': -0.16990783261964,
  'name': 'Piccadilly Circus - London'},
 {'count': 1780,
  'id': 223086464,
  'lat': 51.500940569662,
  'lng': -0.1245068516932,
  'name': 'Big Ben, London - Palace Of Westminster'},
 {'count': 1738,
  'id': 215385307,
  'lat': 51.479687706215,
  'lng': -0.292427637378,
  'name': 'Kew Gardens'},
 {'count': 1717,
  'id': 35413,
  'lat': 51.505149185829,
  'lng': -0.075584744260704,
  'name': 'Tower Bridge'},
 {'count': 1685,
  'id': 213103343,
  'lat': 51.471684936153,
  'lng': -0.45716029140296,
  'name': 'Heathrow Airport'},
 {'count': 1589,
  'id': 948992,
  'lat': 51.5080414,
  'lng': 0.02394,
  'name': 'ExCeL London'},
 {'count': 1536,
  'id': 227939512,
  'lat': 51.40460360167,
  'lng': -0.51240497526877,
  'name': 'THORPE PARK Official'},
 {'count': 1500,
  'id': 708668421,
  'lat': 51.532467346494,
  'lng': 0.046333316089507,
  'name': 'London Eye, United Kingdom'},
 {'count': 1497,
  'id': 213069183,
  'lat': 51.502257055204,
  'lng': 0.0040468690644074,
  'name': 'The O2'},
 {'count': 1468,
  'id': 316371923,
  'lat': 51.4578,
  'lng': -0.1494,
  'name': 'Clapham Common'},
 {'count': 1411,
  'id': 227630051,
  'lat': 51.509417312388,
  'lng': -0.19604146241041,
  'name': 'Notting Hill London UK'},
 {'count': 1393,
  'id': 386699935,
  'lat': 51.459683063527,
  'lng': -0.44734346792777,
  'name': 'Terminal 4, Heathrow International Airport, London.'},
 {'count': 1325,
  'id': 38544536,
  'lat': 51.555063935476,
  'lng': -0.1084196155455,
  'name': 'Emirates Arsenal Stadium'},
 {'count': 1325,
  'id': 215385307,
  'lat': 51.479233726359,
  'lng': -0.29248880464298,
  'name': 'Kew Gardens'},
 {'count': 1318,
  'id': 70178,
  'lat': 51.55205,
  'lng': -0.1417591,
  'name': 'O2 Forum Kentish Town'},
 {'count': 1289,
  'id': 408992053,
  'lat': 51.474963542345,
  'lng': -0.31810731473729,
  'name': 'Decorex International Syon Park'},
 {'count': 1276,
  'id': 244898531,
  'lat': 51.470020085603,
  'lng': -0.44857516379112,
  'name': "Heathrow Terminal 2 : The Queen's Terminal"},
 {'count': 1276,
  'id': 52949,
  'lat': 51.479150229605,
  'lng': -0.0025134643241376,
  'name': 'Greenwich Park'},
 {'count': 1222,
  'id': 840692,
  'lat': 51.496026579616,
  'lng': -0.1763391494751,
  'name': 'Natural History Museum, London'},
 {'count': 1210,
  'id': 717273612,
  'lat': 51.351584522101,
  'lng': 0.094247544184415,
  'name': 'Tower Bridge, London'},
 {'count': 1205,
  'id': 222363605,
  'lat': 51.6667,
  'lng': -0.4,
  'name': 'Watford, United Kingdom'},
 {'count': 1158,
  'id': 1003529688,
  'lat': 51.4708,
  'lng': -0.46,
  'name': 'Heathrow Terminal 3'},
 {'count': 1063,
  'id': 233594313,
  'lat': 51.434166422315,
  'lng': -0.21436125830553,
  'name': 'Wimbledon,UK'},
 {'count': 1061,
  'id': 494363078,
  'lat': 51.492788433808,
  'lng': -0.22422306363769,
  'name': 'Hammersmith, Central London, UK'},
 {'count': 1049,
  'id': 228476110,
  'lat': 51.431951481349,
  'lng': -0.2850311873183,
  'name': 'Richmond Park, UK'},
 {'count': 1043,
  'id': 248626,
  'lat': 51.496651319048,
  'lng': -0.17228017708024,
  'name': 'Victoria and Albert Museum'},
 {'count': 970,
  'id': 1271490,
  'lat': 51.499518985899,
  'lng': -0.16294264082258,
  'name': 'Harrods'},
 {'count': 882,
  'id': 8562373,
  'lat': 51.503391853702,
  'lng': -0.11954853365618,
  'name': 'The Official London Eye'},
 {'count': 847,
  'id': 216593459,
  'lat': 51.553,
  'lng': 0.093,
  'name': 'East London'},
 {'count': 847,
  'id': 570274693,
  'lat': 51.456,
  'lng': -0.301,
  'name': 'Richmond, London'},
 {'count': 826,
  'id': 215091705,
  'lat': 51.4103,
  'lng': -0.2995,
  'name': 'Kingston upon Thames'},
 {'count': 816,
  'id': 210116464,
  'lat': 51.500833,
  'lng': -0.124444,
  'name': 'Big Ben'},
 {'count': 807,
  'id': 215231527,
  'lat': 51.55,
  'lng': -0.183333,
  'name': 'Hampstead, United Kingdom'},
 {'count': 783,
  'id': 228540804,
  'lat': 51.409807929626,
  'lng': -0.30594975485551,
  'name': 'Thames River, Kingston upon Thames, London'},
 {'count': 767,
  'id': 247583621,
  'lat': 51.488914461854,
  'lng': -0.061139781028089,
  'name': 'Edinburgh Scotland'},
 {'count': 735,
  'id': 227501188,
  'lat': 51.6167,
  'lng': 0.316667,
  'name': 'Brentwood, UK'},
 {'count': 705,
  'id': 703594150,
  'lat': 51.583609758703,
  'lng': -0.020636488418329,
  'name': 'Walthamstow Central, London'},
 {'count': 700,
  'id': 266139864,
  'lat': 51.404571526592,
  'lng': -0.51290117072064,
  'name': 'Thorpe Park Theme Park'},
 {'count': 689,
  'id': 221270478,
  'lat': 51.3727,
  'lng': -0.1099,
  'name': 'Croydon, United Kingdom'},
 {'count': 681,
  'id': 273270368,
  'lat': 51.412777777778,
  'lng': -0.33805555555556,
  'name': 'Bushy Park'},
 {'count': 678,
  'id': 207255,
  'lat': 51.533018285842,
  'lng': -0.47192573152586,
  'name': 'Brunel University London'},
 {'count': 666,
  'id': 232013609,
  'lat': 51.5683,
  'lng': -0.1031,
  'name': 'Finsbury Park, London'},
 {'count': 662,
  'id': 213552447,
  'lat': 51.503892721222,
  'lng': 0.049734594444444,
  'name': 'London City Airport'},
 {'count': 660,
  'id': 1379505,
  'lat': 51.507238640761,
  'lng': -0.22121566284831,
  'name': 'Westfield London'},
 {'count': 660,
  'id': 228397702,
  'lat': 51.606269631044,
  'lng': -0.11709201667632,
  'name': 'North London, UK'},
 {'count': 654,
  'id': 870446464,
  'lat': 51.4508,
  'lng': -0.1075,
  'name': 'Brockwell Park'},
 {'count': 649,
  'id': 282504870,
  'lat': 51.421656421614,
  'lng': 0.010561547509649,
  'name': 'Bromley,UK'},
 {'count': 646,
  'id': 363469620,
  'lat': 51.486034833112,
  'lng': -0.19966996916162,
  'name': 'London Bridge'},
 {'count': 646,
  'id': 340643900,
  'lat': 51.573564,
  'lng': 0.096049,
  'name': 'Essex, London'},
 {'count': 637,
  'id': 258843047,
  'lat': 51.313444602271,
  'lng': -0.47246017971621,
  'name': 'RHS Garden Wisley'},
 {'count': 634,
  'id': 228467868,
  'lat': 51.589574911084,
  'lng': -0.34800598964007,
  'name': 'London Harrow'},
 {'count': 628,
  'id': 513033485,
  'lat': 51.4597,
  'lng': -0.4475,
  'name': 'Heathrow Terminal 4'},
 {'count': 625,
  'id': 1716606778578835.0,
  'lat': 51.470720982754,
  'lng': -0.45916595990132,
  'name': 'Heathrow International Airport, London, UK'},
 {'count': 613,
  'id': 1708811122727694.0,
  'lat': 51.51157,
  'lng': -0.22626,
  'name': 'Pergola On The Roof'},
 {'count': 612,
  'id': 217225711,
  'lat': 51.3167,
  'lng': -0.266667,
  'name': 'Epsom'},
 {'count': 610,
  'id': 401883569,
  'lat': 51.434454303283,
  'lng': -0.03730022348467,
  'name': 'London - Forest Hill'},
 {'count': 605,
  'id': 1657443957914140.0,
  'lat': 51.482107694506,
  'lng': -0.29202469283449,
  'name': 'The Hive at Kew Gardens'},
 {'count': 579,
  'id': 216502951,
  'lat': 51.439105194249,
  'lng': 0.27020389397542,
  'name': 'Bluewater'},
 {'count': 573,
  'id': 251190337,
  'lat': 51.4734469802,
  'lng': -0.445277257994,
  'name': 'Great Wall Of China, Beijing, China'},
 {'count': 573,
  'id': 1939876,
  'lat': 51.458318445252,
  'lng': -0.30691425477211,
  'name': 'Richmond Riverside'},
 {'count': 568,
  'id': 215850903,
  'lat': 51.66,
  'lng': 0.05,
  'name': 'Epping Forest'},
 {'count': 562,
  'id': 801785824,
  'lat': 51.627201938,
  'lng': -0.27186178,
  'name': 'Edgware Barnet, Edgware'},
 {'count': 559,
  'id': 96143,
  'lat': 51.348232273704,
  'lng': -0.31732480435783,
  'name': 'Chessington World of Adventures Resort'},
 {'count': 549,
  'id': 299486797,
  'lat': 51.470991982688,
  'lng': -0.067249738926243,
  'name': 'Franks Rooftop Bar - Peckham'},
 {'count': 533,
  'id': 63304,
  'lat': 51.496517282782,
  'lng': -0.21053925868645,
  'name': 'Olympia London'},
 {'count': 531,
  'id': 402478554,
  'lat': 51.477724709752,
  'lng': -0.0011259699121561,
  'name': 'Royal Observatory Greenwich'},
 {'count': 531,
  'id': 697580438,
  'lat': 51.469835654996,
  'lng': -0.066368579864502,
  'name': 'Copeland Park & Bussey Building'},
 {'count': 526,
  'id': 227449580,
  'lat': 51.6333,
  'lng': 0.0666667,
  'name': 'Loughton'},
 {'count': 522,
  'id': 844431934,
  'lat': 51.583056889274,
  'lng': -0.074910733918716,
  'name': 'Seven Sisters, London'},
 {'count': 522,
  'id': 12222710,
  'lat': 51.45,
  'lng': 0.216667,
  'name': 'Dartford'},
 {'count': 516,
  'id': 8562373,
  'lat': 51.50336478031,
  'lng': -0.11934734906337,
  'name': 'The Official London Eye'},
 {'count': 514,
  'id': 320492,
  'lat': 51.557,
  'lng': -0.03,
  'name': 'Hackney Marshes'},
 {'count': 513,
  'id': 508921458,
  'lat': 51.443327106098,
  'lng': -0.15278395658537,
  'name': 'Balham South London'},
 {'count': 503,
  'id': 224130040,
  'lat': 51.3667,
  'lng': -0.466667,
  'name': 'Weybridge'},
 {'count': 499,
  'id': 862262108,
  'lat': 51.4203,
  'lng': -0.0705,
  'name': 'Crystal Palace Park'},
 {'count': 489,
  'id': 292423,
  'lat': 51.60319439197,
  'lng': -0.066099012983043,
  'name': 'White Hart Lane'},
 {'count': 483,
  'id': 1716606778578835.0,
  'lat': 51.470673304825,
  'lng': -0.45916015583333,
  'name': 'Heathrow International Airport, London, UK'},
 {'count': 483,
  'id': 227706532,
  'lat': 51.502587384849,
  'lng': -0.13531851666667,
  'name': 'St James Park, Buckingham Palace'},
 {'count': 480,
  'id': 213718059,
  'lat': 51.542,
  'lng': -0.023,
  'name': 'Hackney Wick'},
 {'count': 477,
  'id': 235188132,
  'lat': 51.512798990826,
  'lng': -0.18654688073394,
  'name': 'England - London'},
 {'count': 471,
  'id': 230884974,
  'lat': 51.690497223204,
  'lng': -0.41836092432286,
  'name': 'Harry Potter Studio Tour at Warner Brothers Studios'},
 {'count': 470,
  'id': 352535155,
  'lat': 51.471324423345,
  'lng': -0.47598868866198,
  'name': 'London Heathrow Airport Terminal 5'},
 {'count': 470,
  'id': 215956478,
  'lat': 51.461946365704,
  'lng': -0.11503330484885,
  'name': 'Brixton, London, UK'},
 {'count': 467,
  'id': 242485814,
  'lat': 51.62603,
  'lng': 0.0826699,
  'name': 'Sheesh Restaurant, Chigwell'},
 {'count': 462,
  'id': 4958073,
  'lat': 51.5122299,
  'lng': -0.13417,
  'name': 'London Fashion Week'},
 {'count': 462,
  'id': 840843,
  'lat': 51.50104825405,
  'lng': -0.17741884149293,
  'name': 'Royal Albert Hall'},
 {'count': 462,
  'id': 32394,
  'lat': 51.47489,
  'lng': -0.04041,
  'name': 'Goldsmiths, University of London'}]

There are some issues with the location data-- e.g. in the top 100 locations include Greece, Beijing and Paris!
The 'London' location should also be excluded since that is probably for entries where there is no clear lat lng and defaults to london, which will throw analysis of where posts are taken off.

In [56]:
#placeholder --data cleaning. Basically filter the collection to exclude those with names that include names from http://data.okfn.org/data/core/country-list/r/data.csv
locationIDsToExclude = [213385402,594107096,230734647 ]
londonLocationsFiltered = [x for x in londonLocations if x['id'] not in locationIDsToExclude]

In [49]:
#now use Geopandas to parse the locations into the london census output areas
londonGeoDF = gpd.read_file('OA_2011_BGC_london.json')
#now trim the londonGeo stuff to may it smaller... hopefully this will make any op faster
londonDFSubset = londonGeoDF.ix[:,['OA11CD', 'POPDEN', 'WD11NM_BF', 'geometry']]

In [50]:
#OA11CD is the output area code, popden is population density 
londonDFSubset.head()

,OA11CD,POPDEN,WD11NM_BF,geometry
0,E00000371,85.8,Mayesbrook,"POLYGON ((0.123626833290036 51.54779654745277,..."
1,E00000370,88.3,Mayesbrook,"POLYGON ((0.114355116990793 51.54695588394154,..."
2,E00000372,116.7,Mayesbrook,"POLYGON ((0.120582018615427 51.5468436367351, ..."
3,E00000375,113.7,Mayesbrook,"POLYGON ((0.118107462304139 51.54678149170271,..."
4,E00000377,97.5,Mayesbrook,"POLYGON ((0.120783314586704 51.54480800628029,..."

In [57]:
#using shapely, construct a geodataframe from the uniqueLocations
locationsDF = pd.DataFrame({'geometry': [Point(x['lng'], x['lat']) for x in londonLocationsFiltered], 
                            'count': [x['count'] for x in londonLocationsFiltered],
                            'id': [x['id'] for x in londonLocationsFiltered],
                            'lat': [x['lat'] for x in londonLocationsFiltered],
                            'lng': [x['lng'] for x in londonLocationsFiltered],
                            'name': [x['name'] for x in londonLocationsFiltered]
                           })
locationsDF = gpd.GeoDataFrame(locationsDF)

In [58]:
locationsDF.head()

,count,geometry,id,lat,lng,name
0,4902,POINT (-0.4187279223942 51.690636395632),230884974,51.690636,-0.418728,Harry Potter Studio Tour at Warner Brothers St...
1,2771,POINT (-0.2796649891529 51.556239704361),21911,51.556240,-0.279665,Wembley Stadium
2,2479,POINT (-0.48701449052824 51.471890719224),898717517,51.471891,-0.487014,London Heathrow British Airways Terminal 5
3,2356,POINT (-0.33914758033938 51.40406242714),88014,51.404062,-0.339148,Hampton Court Palace
4,2282,POINT (-0.019761837107478 51.504327619963),213966560,51.504328,-0.019762,London Canary Wharf

In [60]:
#Now merge it with the londonGeoDF using a spatial join to find which OA each location is in
locationsDF.crs = londonDFSubset.crs
mergedLocationDF = gpd.sjoin(locationsDF, londonDFSubset, how="left", op='within')
mergedLocationDF.head()

,count,geometry,id,lat,lng,name,index_right,OA11CD,POPDEN,WD11NM_BF
0,4902,POINT (-0.4187279223942 51.690636395632),230884974,51.690636,-0.418728,Harry Potter Studio Tour at Warner Brothers St...,NaN,NaN,NaN,NaN
1,2771,POINT (-0.2796649891529 51.556239704361),21911,51.556240,-0.279665,Wembley Stadium,2601,E00174722,10.6,Tokyngton
2,2479,POINT (-0.48701449052824 51.471890719224),898717517,51.471891,-0.487014,London Heathrow British Airways Terminal 5,12864,E00012202,1.5,Heathrow Villages
3,2356,POINT (-0.33914758033938 51.40406242714),88014,51.404062,-0.339148,Hampton Court Palace,20164,E00019239,0.9,Hampton
4,2282,POINT (-0.019761837107478 51.504327619963),213966560,51.504328,-0.019762,London Canary Wharf,22045,E00167122,9.1,Millwall

In [61]:
"""next is to groupby the OA11CD field (that should take care of rows where OA11CD is NaN-- this is caused by the way
    the data is gathered (coords defined in a square) -- so there are places which are actually outside london
    E.g. the Warner bros studio is in Levesden which is in Hertfordshire
"""
grouped = mergedLocationDF.groupby('OA11CD').agg({'count': np.sum}).reset_index()
grouped.head()

      OA11CD  count
0  E00000001      2
1  E00000005      1
2  E00000007     23
3  E00000017     14
4  E00000018     71

In [64]:
#just a quick look at the count stats:
grouped.describe()

              count
count  14392.000000
mean      30.934755
std      163.891365
min        1.000000
25%        2.000000
50%        5.000000
75%       16.000000
max     8684.000000

In [67]:
#Now merge it back to the london OA code DF
londonDFSubsetWithCounts = londonDFSubset.merge(grouped, on='OA11CD')

In [71]:
#then get the lat lngs of the centroids of these OA for mapping
londonDFSubsetWithCounts['centroid'] = londonDFSubsetWithCounts['geometry'].centroid
londonDFSubsetWithCounts['lng'] = londonDFSubsetWithCounts['centroid'].map(lambda x: x.xy[0][0])
londonDFSubsetWithCounts['lat'] = londonDFSubsetWithCounts['centroid'].map(lambda x: x.xy[1][0])

In [73]:
londonDFSubsetWithCounts.head()

,OA11CD,POPDEN,WD11NM_BF,geometry,count,centroid,lng,lat
0,E00000373,52.6,Mayesbrook,"POLYGON ((0.112498963564287 51.54358875250732,...",106,POINT (0.1124405823860201 51.54546341002636),0.112441,51.545463
1,E00000374,98.6,Mayesbrook,"POLYGON ((0.116700195832984 51.54488380549373,...",2,POINT (0.1162587508199522 51.54588064596664),0.116259,51.545881
2,E00000363,115.2,Mayesbrook,"POLYGON ((0.122107263387002 51.53850680688704,...",4,POINT (0.1233284720669706 51.53917350591787),0.123328,51.539174
3,E00000476,176.0,Thames,"POLYGON ((0.111826434783545 51.52781877553605,...",4,POINT (0.1106207491860549 51.5284731274997),0.110621,51.528473
4,E00000296,79.1,Goresbrook,"POLYGON ((0.124577913026085 51.53590674281543,...",1,POINT (0.1269292302642004 51.53646909055679),0.126929,51.536469

In [74]:
#now save it to csv:
londonDFSubsetWithCounts.ix[:, ['OA11CD', 'count', 'lng', 'lat', 'POPDEN', 'WD11NM_BF']].to_csv('instagram-london-counts-by-OA.csv')

In [ ]:
#another interesting thing to look at is to count places by hour of day-- e.g. certain locations may be a lot more
#popular by da, while others(e.g. nightclubs) may be the reverse

In [17]:
cursor =  db.posts.find({'$and': [{'timestamp': {'$gte': datetime.datetime(2016, 9, 10, 0,0,0)}},
                         {'timestamp':{'$lt': datetime.datetime(2016, 9, 11, 0, 0, 0)}}, 
                         {'type': "image"}]}, 
               projection=['location','timestamp','likes.count','images.low_resolution','tags'])

In [18]:
oneDayData = pd.DataFrame(list(cursor))

In [19]:
oneDayData[:15]

,_id,images,likes,location,tags,timestamp
0,57d88608d285908f0e1429af,{'low_resolution': {'url': 'https://scontent.c...,{'count': 44},"{'latitude': 51.535331243333, 'id': 228617331,...","[minimal_perfection, jj_indetail, igersoftheda...",2016-09-10 23:59:55
1,57d88608d285908f0e1424e2,{'low_resolution': {'url': 'https://scontent.c...,{'count': 29},"{'latitude': 51.390992716818, 'id': 228474295,...",[],2016-09-10 23:59:50
2,57d885f9d285908f0e13c821,{'low_resolution': {'url': 'https://scontent.c...,{'count': 19},"{'latitude': 51.567947692372, 'id': 607397483,...",[],2016-09-10 23:59:46
3,57d885f5d285908f0e13a7d0,{'low_resolution': {'url': 'https://scontent.c...,{'count': 4},"{'latitude': 51.49525, 'id': 536879592, 'longi...",[],2016-09-10 23:59:36
4,57d88602d285908f0e1401d2,{'low_resolution': {'url': 'https://scontent.c...,{'count': 1},"{'latitude': 51.583, 'id': 227127780, 'longitu...","[praisdentalcare, colgatebrightsmile, colgateb...",2016-09-10 23:59:33
5,57d88601d285908f0e13fa28,{'low_resolution': {'url': 'https://scontent.c...,{'count': 18},"{'latitude': 51.351399783335, 'id': 518090644,...","[londonliving, streetphotography, love, nighto...",2016-09-10 23:59:08
6,57d88608d285908f0e14292b,{'low_resolution': {'url': 'https://scontent.c...,{'count': 3},"{'latitude': 51.517353421125, 'id': 3854922, '...","[djs, popup, foodie, nw10, platta, music]",2016-09-10 23:59:08
7,57d885fad285908f0e13c9b2,{'low_resolution': {'url': 'https://scontent.c...,{'count': 10},"{'latitude': 51.6166915, 'id': 694474516, 'lon...","[nomakeup, nofilter, needsomemakeupforfil, lov...",2016-09-10 23:59:07
8,57d88606d285908f0e141a2b,{'low_resolution': {'url': 'https://scontent.c...,{'count': 14},"{'latitude': 51.492788433808, 'id': 494363078,...","[saturdaynight, awesome, drink, tbt, partytime...",2016-09-10 23:58:56
9,57d885f7d285908f0e13b39e,{'low_resolution': {'url': 'https://scontent.c...,{'count': 20},"{'latitude': 51.42889839, 'id': 295237448, 'lo...","[crazygirl, thropepark, london]",2016-09-10 23:58:52
10,57d8860ed285908f0e14535e,{'low_resolution': {'url': 'https://scontent.c...,{'count': 2},"{'latitude': 51.55493, 'id': 45670660, 'longit...","[chatsworthroad, ilovechatsworthroadmagazine, ...",2016-09-10 23:58:51
11,57d8860ad285908f0e14341a,{'low_resolution': {'url': 'https://scontent.c...,{'count': 87},"{'latitude': 51.4474504096, 'id': 230734647, '...","[takemeback, throwbacksaturday, mykonos]",2016-09-10 23:58:29
12,57d88601d285908f0e13fa29,{'low_resolution': {'url': 'https://scontent.c...,{'count': 59},"{'latitude': 51.351399783335, 'id': 518090644,...",[],2016-09-10 23:58:02
13,57d88601d285908f0e13fa2a,{'low_resolution': {'url': 'https://scontent.c...,{'count': 31},"{'latitude': 51.351399783335, 'id': 518090644,...","[lovemylife, style, evening, london, ciklabadz...",2016-09-10 23:57:56
14,57d88606d285908f0e141c2c,{'low_resolution': {'url': 'https://scontent.c...,{'count': 7},"{'latitude': 51.543054816034, 'id': 302997629,...","[footballsunday, thestar, cowboysnation, nfluk...",2016-09-10 23:57:47

In [32]:
#a few bits of data cleaning
oneDayData['likes'] = oneDayData['likes'].map(lambda x: x['count'])
oneDayData['locationID'] = oneDayData['location'].map(lambda x: str(x['id']))
oneDayData['lat'] = oneDayData['location'].map(lambda x: x['latitude'])
oneDayData['lng'] = oneDayData['location'].map(lambda x: x['longitude'])
oneDayData['hourOfDay'] = oneDayData['timestamp'].map(lambda x: x.hour)

In [33]:
oneDayData[:15]

,_id,images,likes,location,tags,timestamp,locationID,lat,lng,hourOfDay
0,57d88608d285908f0e1429af,{'low_resolution': {'url': 'https://scontent.c...,44,"{'latitude': 51.535331243333, 'id': 228617331,...","[minimal_perfection, jj_indetail, igersoftheda...",2016-09-10 23:59:55,228617331,51.535331,-0.239905,23
1,57d88608d285908f0e1424e2,{'low_resolution': {'url': 'https://scontent.c...,29,"{'latitude': 51.390992716818, 'id': 228474295,...",[],2016-09-10 23:59:50,228474295,51.390993,-0.318341,23
2,57d885f9d285908f0e13c821,{'low_resolution': {'url': 'https://scontent.c...,19,"{'latitude': 51.567947692372, 'id': 607397483,...",[],2016-09-10 23:59:46,607397483,51.567948,0.140318,23
3,57d885f5d285908f0e13a7d0,{'low_resolution': {'url': 'https://scontent.c...,4,"{'latitude': 51.49525, 'id': 536879592, 'longi...",[],2016-09-10 23:59:36,536879592,51.495250,0.116060,23
4,57d88602d285908f0e1401d2,{'low_resolution': {'url': 'https://scontent.c...,1,"{'latitude': 51.583, 'id': 227127780, 'longitu...","[praisdentalcare, colgatebrightsmile, colgateb...",2016-09-10 23:59:33,227127780,51.583000,-0.185000,23
5,57d88601d285908f0e13fa28,{'low_resolution': {'url': 'https://scontent.c...,18,"{'latitude': 51.351399783335, 'id': 518090644,...","[londonliving, streetphotography, love, nighto...",2016-09-10 23:59:08,518090644,51.351400,-0.169908,23
6,57d88608d285908f0e14292b,{'low_resolution': {'url': 'https://scontent.c...,3,"{'latitude': 51.517353421125, 'id': 3854922, '...","[djs, popup, foodie, nw10, platta, music]",2016-09-10 23:59:08,3854922,51.517353,-0.250053,23
7,57d885fad285908f0e13c9b2,{'low_resolution': {'url': 'https://scontent.c...,10,"{'latitude': 51.6166915, 'id': 694474516, 'lon...","[nomakeup, nofilter, needsomemakeupforfil, lov...",2016-09-10 23:59:07,694474516,51.616692,-0.000394,23
8,57d88606d285908f0e141a2b,{'low_resolution': {'url': 'https://scontent.c...,14,"{'latitude': 51.492788433808, 'id': 494363078,...","[saturdaynight, awesome, drink, tbt, partytime...",2016-09-10 23:58:56,494363078,51.492788,-0.224223,23
9,57d885f7d285908f0e13b39e,{'low_resolution': {'url': 'https://scontent.c...,20,"{'latitude': 51.42889839, 'id': 295237448, 'lo...","[crazygirl, thropepark, london]",2016-09-10 23:58:52,295237448,51.428898,-0.509624,23
10,57d8860ed285908f0e14535e,{'low_resolution': {'url': 'https://scontent.c...,2,"{'latitude': 51.55493, 'id': 45670660, 'longit...","[chatsworthroad, ilovechatsworthroadmagazine, ...",2016-09-10 23:58:51,45670660,51.554930,-0.045480,23
11,57d8860ad285908f0e14341a,{'low_resolution': {'url': 'https://scontent.c...,87,"{'latitude': 51.4474504096, 'id': 230734647, '...","[takemeback, throwbacksaturday, mykonos]",2016-09-10 23:58:29,230734647,51.447450,-0.047658,23
12,57d88601d285908f0e13fa29,{'low_resolution': {'url': 'https://scontent.c...,59,"{'latitude': 51.351399783335, 'id': 518090644,...",[],2016-09-10 23:58:02,518090644,51.351400,-0.169908,23
13,57d88601d285908f0e13fa2a,{'low_resolution': {'url': 'https://scontent.c...,31,"{'latitude': 51.351399783335, 'id': 518090644,...","[lovemylife, style, evening, london, ciklabadz...",2016-09-10 23:57:56,518090644,51.351400,-0.169908,23
14,57d88606d285908f0e141c2c,{'low_resolution': {'url': 'https://scontent.c...,7,"{'latitude': 51.543054816034, 'id': 302997629,...","[footballsunday, thestar, cowboysnation, nfluk...",2016-09-10 23:57:47,302997629,51.543055,0.001115,23

In [39]:
oneDayDataGrouped = oneDayData.groupby(['hourOfDay', 'locationID']).size().reset_index(name='count')

In [40]:
oneDayDataGrouped

       hourOfDay          locationID  count
0              0               10001      5
1              0          1011201341      1
2              0          1012587439      1
3              0          1015934491      1
4              0          1016110338      1
5              0          1017396848      1
6              0          1018660003      1
7              0          1019560362      1
8              0          1020910452      1
9              0          1023814140      1
10             0          1024428149      1
11             0          1024538745      1
12             0          1024658436      1
13             0          1025160952      1
14             0          1026023053      6
15             0          1026130636      1
16             0          1026525854      1
17             0          1029533649      1
18             0          1031318024      1
19             0          1031524262      1
20             0          1031829707      1
21             0          1032256573      2
22             0          1033813998      1
23             0          1035308984      1
24             0             1056802      1
25             0            10576483      1
26             0             1061396      1
27             0             1074401      1
28             0  1083579101750114.0      1
29             0             1100081      1
...          ...                 ...    ...
14340         23              832428      1
14341         23           832545697      1
14342         23           835786327      1
14343         23           837200363      1
14344         23              840843      2
14345         23           850627886      1
14346         23   859765097486569.0      2
14347         23              860429      1
14348         23           864398420      1
14349         23              868259      1
14350         23             8692602      1
14351         23           870446464      2
14352         23           871873765      1
14353         23               87423      1
14354         23               88014      2
14355         23           892786665      1
14356         23           894499747      1
14357         23             9008190      2
14358         23           904605893      1
14359         23           912275107      6
14360         23           919775398      2
14361         23   920581658069140.0      1
14362         23           943155008      1
14363         23           945581388      1
14364         23           959147473      1
14365         23           972739413      1
14366         23             9833046      1
14367         23           986561197      1
14368         23           988983765      1
14369         23   990009094414722.0      1

[14370 rows x 3 columns]